<h1>Welcome to the Gossip Project Homepage</h1>

<h2>Gossips :</h2>

<a href="<%=new_gossip_path%>" class="btn btn-success">Create Gossip</a>


<div class="container">
  <div class="row">
    <% @gossips.each do |gossip| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=gossip.title%></h5>
          <p class="card-text"><%=gossip.user.first_name%></p>
          <a href="<%=gossip_path(gossip.id)%>" class="btn-card">Show</a>
          <a href="<%=edit_gossip_path(gossip.id)%>"  class="btn-card">Edit</a>
          <a href="<%=gossip_path(gossip.id)%>" class="btn btn-card" data-method="DELETE">Delete</a>
          <% end %>
        </div>
      </div>
  </div>
</div>

    


<%# class="btn btn-primary"  %>
<%# <%= link_to "Afficher le potin", gossip_path(gossip.id) %>


