<h1>Create a new Gossip</h1>

<%= form_for :gossip, url: gossips_path do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :content %><br>
        <%= f.text_area :content %>
    </p>

    <p>
        <%= f.submit %>
    </p>

    <% end %>